<?xml version="1.0" encoding="UTF-8"?>
<widget id="at.wifiwien.superpaintPS" version="0.1.1" 
    xmlns="http://www.w3.org/ns/widget" 
    xmlns:gap="http://phonegap.com/ns/1-0">
    <name>SuperPaint</name>
    <description>Die coolste Zeichenapp der Welt!</description>
    <author email="seewald.patrick@gmx.at" href="http://wifiwien.at">JS SW Developer Team 518</author>
    <content src="index.html" />    
    <preferences name="android-minSdkVersion" value="26"/>

    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <platform name="android">
        <icon desity="ldpi" src="www/icon.png" />
    </platform>
</widget>